<<<<<<< HEAD
<h1>Assalomu alaykum hurmatli {{name}}!</h1>
<h2>E-pochtangizni tasdiqlash uchun pastga bosing</h2>

<p>
  <a href='{{url}}'>Confirm</a>
</p>

=======
<h1>Assalomu alaykum hurmatli {{name}}!</h1>
<h2>E-pochtangizni tasdiqlash uchun pastga bosing</h2>

<p>
  <a href='{{url}}'>Tasdiqlash</a>
</p>

>>>>>>> 4fa8de829cb11350ed87cf8282844aa4e96e515f
<p>Agar ushbu xat sizga kerak bo'lmasa, uni e'tiborsiz qoldirishingiz mumkin.</p>