<h1>Assalomu alaykum hurmatli {{name}}!</h1>
<h2>E-pochtangizni tasdiqlash uchun pastga bosing</h2>

<p>
  <a href='{{url}}'>Confirm</a>
</p>

<p>Agar ushbu xat sizga kerak bo'lmasa, uni e'tiborsiz qoldirishingiz mumkin.</p>